body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    margin: auto;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.station-name {
    margin: auto;
    width: 50%;
}

.station-status {
    font-size: xx-large;
    font-weight: 500;
    margin: auto;
    width: 50%;
}

.station-infotext {
    font-size: medium;
}