body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width:fit-content;
    margin: 0 auto;
    width: auto;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.station-name {
    margin: 0 auto;
    width: fit-content;
}

.station-status {
    font-size: xx-large;
    font-weight: 500;
    margin: 0 auto;
    width: fit-content;
    
}

.station-infotext {
    font-size: medium;
    margin: 0 auto;
    width: fit-content;
}

.weather-forecast-time {
    display: inline-block;
}